#header{
    font-family: calibri;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.vl {
    border-right: 6px solid;
    height: 400px;
    margin-left: 200px;
    margin-right: 10px;
    margin-top: 40px;
  }
.r{
    margin-top: 50px;
    font-size: 15px;
    margin-left: 0px;
 
}
.desc{
    margin-left: 50px;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
img{
    border-radius: 50px;
    width: 300px;
    height: 400px;
}
